.playlist-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 650px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    height: 100vh;
  }