/* app.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* .main-section * {
  font-size: var(--font-size-xl) !important;
}  */